{% extends 'mainapp/__base.html' %}
{% load static %}

{% block style %}
    <style>

        {#html,#}
        {#body,#}
        {#header,#}
        {#.jarallax {#}
        {#    height: 700px;}#}
        {##}
        {#@media (max-width: 740px) {#}
        {#    html,#}
        {#    body,#}
        {#    header,#}
        {#    .jarallax {#}
        {#        height: 100vh;#}
        {#    }#}
        {##}
        {##}
        {#@media (min-width: 800px) and (max-width: 850px) {#}
        {#    html,#}
        {#    body,#}
        {#    header,#}
        {#    .jarallax {#}
        {#        height: 100vh;#}
        {#    }#}
        {##}
        {##}
        {#@media (min-width: 560px) and (max-width: 650px) {#}
        {#    header .jarallax h5 {#}
        {#        margin-bottom: 1.5rem !important;#}
        {#    }#}
        {##}

        .top-nav-collapse {
            background-color: #6f7782 !important;
        }
        .navbar:not(.top-nav-collapse) {
            background: #33343c !important;
        }
        @media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #6f7782 !important;
            }
        }
        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #6f7782!important;
            }
        }
        h1 {
            letter-spacing: 8px;
        }
        h5 {
            letter-spacing: 3px;
        }
        .hr-light {
            border-top: 3px solid #fff;
            width: 80px;
        }
        footer.page-footer {
            background-color: #6f7782;
        }

        @media (max-width: 450px) {
            .btn-floating {
                margin-left: 0;
                margin-right: 0;
            }
        }

    </style>
{% endblock %}

{% block header_contents %}
    {#<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">#}
    {#        <div class="mask rgba-black-light">#}
    {#            <div class="container h-100 d-flex justify-content-center align-items-center">#}
    {#                <div class="row pt-5 mt-3">#}
    {#                    <div class="col-md-12">#}
    {#                        <div class="text-center">#}
    {#                            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>welcome#}
    {#                                to my blog</strong></h1>#}
    {#                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">#}
    {#                            <h5 class="text-uppercase mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Photography &#}
    {#                                design</strong></h5>#}
    {#                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">portfolio</a>#}
    {#                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">About me</a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}


{% block main_container %}
    <div class="container">
        {{ form.as_table }}
    </div>
{% endblock %}

